html{
    --font: white;
    --background: #111827;
    --theme: dark;
    scroll-behavior: smooth;
    color-scheme: var(--theme);
    background-color: var(--background);
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
    padding-left: none;
    padding: 0px;
}

/* Navbar CSS start*/

.navbar{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1vh;
    position: fixed;
    top: 0;
    padding-bottom: 1vh;
}

.nav-items{
    display: flex;
    width: 45vw;
    height: 5vh;
}

.nav-item{
    padding-left: 4vw;
    padding-top: 1vh;
}

.nav-item a{
    text-decoration: none;
    color: var(--font);
    font-weight: bold;
}

.nav-theme-sel-on, .nav-theme-sel-off{
    color: var(--font);
    font-weight: bold;
}

.nav-theme-sel-on:hover, .nav-theme-sel-off:hover{
    color: #30C2EC;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
}

.nav-theme-sel-off{
    display: none;
}

.nav-theme-sel-on{
    display: block;
}

html:has(#nav-theme-sel-inp:checked){
    color-scheme: light;
    --font: black;
    --background: white;
    --theme: light;
}

.nav-theme-sel:has(input[type="checkbox"]:checked) .nav-theme-sel-off{
    display: block;
}

.nav-theme-sel:has(input[type="checkbox"]:checked) .nav-theme-sel-on{
    display: none;
}

.nav-item a:hover{
    color: #30C2EC;
    transition: color 0.2s ease-in-out;
}

.nav-item a.active{
    color: #30C2EC;
}

.logo{
    height: 5vh;
    width: 10vw;
    padding-left: 2vw;
    display: flex;
    flex-direction: row;
}

.logo img{
    width: 2.5vw;
    height: 5vh;
}

.logo-text{
    color: white;
    font-weight: bold;
    padding-top: 1.5vh;
    width: 10vw;
    height: 5vh;
    padding-left: 1vw;
}

/* Navbar CSS end*/

.contents-cover{
    height: 100vh;
    scroll-behavior: smooth;
}

.nav-buffer{
    height: 7vh;
}

.contents{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 93vh;
}

.contents > section{
    scroll-snap-align: start;
}

.ham{
    display: none;
}

/* Main Section CSS start*/
.main{
    height: 93vh;
    width: 98vw;
    display: flex;
    flex-direction: row;
}

.main-left{
    width: 49vw;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-right{
    flex: 1;
    width: 49vw;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-left-text1{
    font-size: 5vh;
    font-weight: bold;
}

.main-left-text2{
    font-size: 10vh;
    font-weight: bold;
    color: #30C2EC;
}

.main-left-text3{
    font-size: 2vh;
    font-weight: bold;
    padding-bottom: 5vh;
}

.main-left-button1{
    width: 20vw;
    height: 4vh;
    background-color: #30C2EC;
    border: none;
    border-radius: 2vw;
    font-size: 2vh;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 1vh;
}

.main-left-button1:hover{
    background-color: #0096ff;
    transition: background-color 0.2s ease-in-out;
}

.main-left-button1 a{
    text-decoration: none;
    color: white;
}

.main-backgroundBlob{
    position: relative;
}

.main-leftBlob{
    top: 20rem;
    left: calc(98vw - 45rem);
    position: absolute;
    height: 30rem;
    width: 30rem;
    background-color: rgb(124 58 237/1);
    opacity: 0.5;
    border-radius: 50%;
    background-blend-mode: overlay;
    filter: blur(64px);
}

.main-rightBlob{
    top: 20rem;
    left: calc(98vw - 65rem);
    position: absolute;
    height: 30rem;
    width: 30rem;
    opacity: 0.5;
    background-color: rgb(59 130 246 /1);
    border-radius: 50%;
    background-blend-mode: overlay;
    filter: blur(64px);
}


.main-right-img{
    position: relative;
    scale: 1.75;
}
/*SVG animation starts*/
#music-1{
    animation: music-mot 4.5s ease-in-out 0s infinite;
}

#music-2{
    animation-delay: 1s;
    animation: music-mot 3.5s ease-in-out 1s infinite;
}

#music-3{
    animation-delay: 2s;
    animation: music-mot 4s ease-in-out 2s infinite;
}

#hand_play{
    animation: musicPlay 1s ease-in-out 0s infinite;
    transform-origin: 40% 20%;
}

@keyframes music-mot{
    0%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(1rem);
    }
    100%{
        transform: translateY(0rem);
    }
}

@keyframes musicPlay {
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(5deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}

/*SVG animation ends*/
/* Main Section CSS End*/
/* Featured playlist Section CSS Starts*/
.featList{
    height: 93vh;
    padding-top: 2vh;
}

.fl-title{
    height: 8vh;
    font-size: 5vh;
    font-weight: bolder;
    width: 98vw;
    text-align: center;
    color: #30C2EC;
    margin-bottom: 2vh;
}

.fl-cards-cover{
    display: flex;
    width: 96vw;
    height: 82vh;
    padding-left: 1rem;
}

.fl-card{
    height: 70vh;
    width: calc(22.5vw - 5rem);
    display: flex;
    border-radius: 2rem;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    flex-direction: column;
    margin-right: 3rem;
    padding: 2rem;
    transition: .25s all ease-in-out;
}

.fl-card:hover{
    height: 75vh;
}

.fl-card-nos-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.fl-card-nos{
    background-color: #1e1e2c;
    font-size: medium;
    font-weight: bold;
    height: 100%;
    width: fit-content;
}

.fl-card-img-cover{
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fl-card-img{
    display: block;
    max-height: 30vh;
    max-width: 20vw;
    height: auto;
    width: auto;
}

.fl-card-name{
    padding-top: 1rem;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
    padding-bottom: 1.5rem;
}

.fl-card-fbtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fl-card-btn-on{
    margin-top: 2vh;
    background-color: #30C2EC;
    width: 5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    text-align: center;
    cursor: pointer;
    color: white;
}

.fl-card-btn-on:hover{
    background-color: #0096ff;
    transition: background-color 0.2s ease-in-out;
}

.fl-card-btn-off{
    display: none;
    margin-top: 2vh;
    background-color: #30C2EC;
    width: 6rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    text-align: center;
    cursor: pointer;
    color: white;
}

.fl-card-btn-off:hover{
    background-color: #0096ff;
    transition: background-color 0.2s ease-in-out;
}

.fl-card:has(input[type="checkbox"]:checked) .fl-card-btn-on{
    display: none;
}

.fl-card:has(input[type="checkbox"]:checked) .fl-card-btn-off{
    display: flex;
}

/* Featured Playlist section CSS ends */
/* Recommeded Albums section CSS starts */
.recc{
    height: 93vh;
    width: 98vw;
}

.recc-title{
    font-size: 5vh;
    height: 7vh;
    width: 98vw;
    text-align: center;
    font-weight: bolder;
    color: #30C2EC;
}

.recc-search-bar{
    height: 7vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recc-search-bar input[type=text]{
    height: 5vh;
    width: 50vw;
    border: solid black 1px;
    border-radius: 2vw 0vw 0vw 2vw;
    padding-left: 2vw;
    font-size: 2vh;
}

.recc-search-bar button{
    height: 5vh;
    width: 5vw;
    border: solid black 1px;
    border-radius: 0vw 2vw 2vw 0vw;
    background-color: #30C2EC;
    color: white;
    font-size: 2vh;
    cursor: pointer;
}

.recc-search-bar button:hover{
    background-color: #0096ff;
    transition: background-color 0.2s ease-in-out;
}

.recc-albums-sec{
    height: 75vh;
    width: 96vw;
    display: flex;
    flex-direction: row;
    flex-flow: column wrap;
    padding-top: 4vh;
    padding-left: 2vw;
    gap: 2vh;
}

.recc-album-card{
    height: 55vh;
    padding: 2rem;
    width: calc(24vw - 10rem);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all .5s ease-in-out;
}

.recc-album-card:hover{
    height: 62vh;
}

.recc-album-card-img-cover{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35vh;
    width: calc(24vw - 10rem);
}

.recc-album-card-img{
    display: block;
    max-width: calc(24vw - 14rem);
    max-height: 40vh;
    width: auto;
    height: auto;
}

.recc-album-card-title{
    min-height: 5vh;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}


.recc-album-card-artist{
    width: 100%;
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
}


.recc-album-card-desc{
    width: 100%;
    min-height: 15vh;
    max-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: small ;
}

.recc-album-card-btn-cover{
    display: flex;
    width: calc(24vw - 10rem);
    justify-content: center;
    align-items: center;
}

.recc-album-card-btn{
    width: 10rem;
    height: 2.5rem;
    background-color: #30C2EC;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    color: white;
    text-align: center;
    cursor: pointer;
    transition-delay: 1s;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recc-album-card-btn:hover{
    background-color: #0096ff;
    transition: background-color 0.2s ease-in-out;
}

.recc-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.recc-overlay:target {
    visibility: visible;
    opacity: 1;
}
  
.recc-popup {
    margin: 70px auto;
    padding: 20px;
    background: var(--background);
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 1s ease-in-out;
}
  
.recc-popup h2 {
    margin-top: 0;
    font-family: Tahoma, Arial, sans-serif;
}

.recc-popup .recc-close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: var(--font);
}
.recc-popup .recc-close:hover {
    color: #0096ff;
}
.recc-popup .recc-content {
    max-height: 30%;
    overflow: auto;
}

/* Recommeded Albums section CSS ends */
/* Reviews section CSS begins */
.review{
    height: 93vh;
    width: 98vw;
}

.review-title{
    height: 7vh;
    width: 98vw;
    text-align: center;
    font-size: 5vh;
    font-weight: bolder;
    color: #30C2EC;
}

.review-inp-title{
    height: 7vh;
    width: 98vw;
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
}

.review-inp{
    height: 30vh;
    width: 98vw;
    display: flex;
    flex-direction: row;
}

.review-inp-left{
    height: 30vh;
    width: 49vw;
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.review-inp-left input[type=text]{
    height: 5vh;
    width: 45vw;
    border: solid black 1px;
    padding-left: 2vw;
}

.review-inp-right{
    height: 30vh;
    width: 49vw;
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
}

.review-inp-right textarea{
    height: 10vh;
    width: 40vw;
    border: solid black 1px;
    padding-left: 2vw;
    font-size: 2vh;
}

.review-inp-right button{
    height: 5vh;
    width: 10vw;
    border: solid black 1px;
    background-color: #30C2EC;
    font-size: 2vh;
    cursor: pointer;
    border-radius: 2vw;
    color: white;
}

.review-inp-btn-wrapper{
    height: 5vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-inp-right button:hover{
    background-color: #0096ff;
    transition: background-color 0.2s ease-in-out;
}

.hRule{
    outline: solid #f0f0f0;
    width: 90%;
}

.sep{
    width: 100%;
    display: flex;
    justify-content: center;
}


.review-data-title{
    height: 7vh;
    width: 98vw;
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
}

.review-data{
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 5vh;
    height: 38vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    gap: 10vw;
}

.review-data-item{
    height: 34vh;
    width: 20vw;
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: solid black 1px;
    border-radius: 2vh;
}

.review-data-item:hover{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    transition: all 0.5s ease-in-out;
}

.review-data-item-img-wrapper{
    padding-bottom: 1vh;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.review-data-item-img{
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    outline: solid #30C2EC 5px;
}

.review-data-item-name{
    height: 5vh;
    width: 100%;
    text-align: center;
    font-size: 3vh;
    font-weight: bolder;
}

.review-data-item-email{
    height: 5vh;
    width: 100%;
    text-align: center;
    font-size: 1.5vh;
    font-weight: 300;
}

.review-data-item-desc{
    font-style: italic;
    height: 10vh;
    width: 100%;
    text-align: center;
    font-size: 2vh;
}
/* Reviews section CSS ends */
/* Footer section CSS starts */
.footer{
    padding-left: 4vw;
    padding-right: 4vw;
    height: 93vh;
    width: 86vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

.footer-po{
    width: 100%;
    height: 93vh;
    grid-column: 1/span 2;
}

.footer-p2{
    width: 100%;
    height: 93vh;
    grid-column: 3/span 1;
}

.footer-socials{
    width: 100%;
    height: 93vh;
    grid-column: 4/span 1;
}


.footer-socials-item-img{
    height: 2vh;
    width: 2vh;
}

.footer-socials-item a{
    text-decoration: none;
    color: var(--font);
}

.footer-socials-item a:hover{
    color: #30C2EC;
    transition: color 0.2s ease-in-out;
}
.footer-social-wrap{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}
.footer-po-wrap, .footer-p2-wrap, .footer-social-wrap{
    padding-top: 5vh;
    height: 93vh;
    width: 100%;
    gap: 2vh;
}

.footer-socials-item-button{
    margin-top: 4vh;
    height: 5vh;
    width: 15vh;
    background-color: #30C2EC;
    border: none;
    border-radius: 5vw;
    font-size: 2vh;
    color: var(--font);
    text-align: center;
    cursor: pointer;
    color: white;
}

.footer-socials-item-button:hover{
    background-color: #0096ff;
    transition: background-color 0.2s ease-in-out;
}

.footer-p2-title, .footer-socials-title, .footer-po-text1{
    font-size: 2.5rem;
    font-weight: 900;
}

.footer-p2-wrap{
    display: flex;
    flex-direction: column;
}

.footer-p2-text a{
    color: var(--font);
    text-decoration: none;
    font-size: larger;
}

.footer-p2-text a:hover{
    color: #30C2EC;
    transition: color 0.2s ease-in-out;
}

/* Footer section CSS starts */

@media screen and (max-width: 1360px){
    .navbar{
        background-color: var(--background);
        height: 5vh;
    }
    .nav-items{
        display: none;
    }

    .logo-text{
        width: 40vw;
    }
    .logo{
        width: 100vw;
        height: 4vh;
    }

    .logo img{
        display: flex;
        width: auto;
        height: auto;
        max-width: 10vw;
        max-height: 4vh;
    }
    
    .ham{
        display: block;
        font-size: 40px;
        padding-right: 10vw;
    }

    .ham-img{
        text-decoration: none;
        display: block;
    }

    .ham-close{
        display: none;
        z-index: 3;
        position: fixed;
        top: 1vh;
        right: 10vw;
    }

    #ham-check{
        position: fixed;
        top: 2vw;
        right: 2vw;
        z-index: 2;
    }

    .navbar:has(.ham input[type="checkbox"]:checked) .ham .ham-close{
        display: block;
    }

    .navbar:has(.ham input[type="checkbox"]:checked) .ham .ham-img{
        display: none;
    }

    .navbar:has(.ham input[type="checkbox"]:checked) .nav-items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 25vh;
        border: #1A43bf 2px solid;
        background-color: var(--background);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .contents-cover{
        overflow-x: hidden;
    }
    /* Main section begin */

    .main{
        height: 94vh;
        width: 96vw;
        flex-direction: column;
    }
    .main-left{
        width: 100vw;
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-right{
        width: 100vw;
        height: 54vh;
        display: flex;
        justify-content: center;
        align-items: center;
        scale: 0.4;
    }

    .main-right-img{
        z-index: 1;
        width: 60vw;
        height: 30vh;
    }

    .main-left-button1{
        width: 30vw;
        font-size: 0.75rem;
        height: 2rem;
        position: relative;
    }

    .main-left-text2{
        font-size: 5vh;
    }
    /* Main section end */
    /* Featured playlist section start */
    .fl-cards-cover{
        flex-direction: column;
        flex-flow: row wrap;
        padding: 0px;
    }

    .fl-card{
        height: 35vh;
        width: 40vw;
        padding: 0.25rem;
        margin: 2vw;
    }

    .fl-card:hover{
        height: 36vh;
    }

    .fl-card-nos{
        font-size: 0.5rem;
        height: 1vh;
    }

    .fl-card-name{
        font-size: 0.75rem;
        height: 1vh;
    }

    .fl-card-desc{
        font-size: 0.5rem;
        padding-left: 2vw;
    }

    .fl-card-img-cover{
        height: 8vh;
    }
    .fl-card-img{
        max-height: 8vh;
    }


    /* Featured playlist section end */
    /* Recommended Section start */
    .recc-search-bar button{
        width: 10vw;
        border-radius: 0% 25% 25% 0%;
    }

    .recc-albums-sec{
        flex-direction: column;
        flex-flow: row wrap;
    }

    .recc-album-card{
        height: 27vh;
        width: 30vw;
        padding: 1.5rem;
    }

    .recc-album-card:hover{
        height: 32vh;
    }

    .recc-album-card-img-cover{
        min-height: 15vh;
        min-width: 25vw;
    }

    .recc-album-card-img{
        max-height: 15vh;
        max-width: 25vw;
    }

    .recc-album-card-title{
        min-height: 2.5vh;
        font-size: 0.75rem;
        padding: 0vh;
    }

    .recc-album-card-artist{
        min-height: 1.75vh;
        padding: 0vh;
        font-size: 0.5rem;
        font-weight: 600;
    }

    .recc-album-card-desc{
        font-size: 0.4rem;
        min-height: 12vh;
    }

    .recc-album-card-btn-cover{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .recc-album-card-btn{
        min-width: 2rem;
        font-size: 0.5rem;
        height: 2.5vh;
    }

    .recc-popup{
        width: 70%;
    }
    /* Recommended Section end */
    /* Reviews section starts */
    .review-data-title{
        height: 5vw;
        font-size: 1px;
        width: fit-content;
        overflow: hidden;
    }

    .review-data{
        display: flex;
        flex-flow: row wrap;
    }

    .review-data-item{
        height: 35vh;
        width: 22vw;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
    }

    .review-data-item-img-wrapper{
        padding: 0px;
        height: 10vh;
        margin-top: 5vh;
    }

    .review-data-item-img{
        height: 5vh;
        width: 5vh;
    }

    .review-data-item-name{
        height: 5vh;
        font-size: 2rem;
    }

    .review-data-item-email{
        height: 6vw;
        font-size: 1.5rem;
    }

    .review-data-item-desc{
        height: 17vw;
        font-size: 1rem;
    }

    .review-inp-btn-wrapper{
        width: 50vw;
    }
    .review-inp-button{
        min-width: 30vw;
    }
    /* Reviews section ends*/
    /* Footer Section starts */
    .footer{
        max-height: 48vh;
        width: 100vw;
        display: flex;
        flex-flow: row wrap;
        font-size: 1vh;
    }

    .footer-po{
        height: 30vh;
    }

    .footer-p2{
        height: 15vh;
    }

    .footer-socials{
        height: 45vh;
    }

    .footer-po-text1{
        padding: 0px;
        min-height: 5vh;
        font-size: 4vh;
    }

    .footer-po-wrap{
        padding: 0px;
        margin: 0px;
        gap: 0px;
        height: 15vh;
    }

    .footer-po-text2{
        font-size: 1rem;
        height: 13vh;
    }

    .footer-po-text3{
        font-size: 1.5vh;
        font-weight: 800;
    }

    .footer-p2-title{
        min-height: 5vh;
        font-size: 4vh;
    }

    .footer-p2-wrap{
        padding: 0px;
        margin: 0px;
        gap: 0px;
        height: 15vh;
    }

    .footer-social-title{
        min-height: 5vh;
        font-size: 4vh;
        padding: 0vh;
        margin: 0vh;
    }

    .footer-social-wrap{
        height: 30vh;
        padding: 0px;
        margin: 0px;
    }

    .footer-socials-item{
        font-size: 2vh;
    }
    /* Footer Section ends */
}