html{
    scroll-behavior: smooth;
    color-scheme: dark;
    background-color: #111827;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
    padding-left: none;
    padding: 0px;
}

/* Navbar CSS start*/

.navbar{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1vh;
    position: fixed;
    top: 0;
    padding-bottom: 1vh;
}

.nav-items{
    display: flex;
    width: 40vw;
    height: 5vh;
}

.nav-item{
    padding-left: 4vw;
    padding-top: 1vh;
}

.nav-item a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-item a:hover{
    color: #30C2EC;
    transition: color 0.2s ease-in-out;
}

.nav-item a.active{
    color: #30C2EC;
}

.logo{
    height: 5vh;
    width: 10vw;
    padding-left: 2vw;
    display: flex;
    flex-direction: row;
}

.logo img{
    width: 2.5vw;
    height: 5vh;
}

.logo-text{
    color: white;
    font-weight: bold;
    padding-top: 1.5vh;
    width: 10vw;
    height: 5vh;
    padding-left: 1vw;
}

/* Navbar CSS end*/

.contents-cover{
    height: 100vh;
    scroll-behavior: smooth;
}

.nav-buffer{
    height: 7vh;
}

.contents{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 93vh;
}

.contents > div{
    scroll-snap-align: start;
}

.ham{
    display: none;
}

/* Main Section CSS start*/
.main{
    height: 93vh;
    width: 98vw;
    display: flex;
    flex-direction: row;
}

.main-left{
    width: 49vw;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-right{
    flex: 1;
    width: 49vw;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-left-text1{
    font-size: 5vh;
    font-weight: bold;
}

.main-left-text2{
    font-size: 10vh;
    font-weight: bold;
    color: #30C2EC;
}

.main-left-text3{
    font-size: 2vh;
    font-weight: bold;
    padding-bottom: 5vh;
}

.main-left-button1{
    width: 20vw;
    height: 4vh;
    background-color: #30C2EC;
    border: none;
    border-radius: 2vw;
    font-size: 2vh;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 1vh;
}

.main-left-button1 a{
    text-decoration: none;
    color: white;
}

.main-backgroundBlob{
    position: relative;
}

.main-leftBlob{
    top: 12rem;
    left: calc(98vw - 35rem);
    position: absolute;
    height: 30rem;
    width: 30rem;
    background-color: rgb(124 58 237/1);
    opacity: 0.5;
    border-radius: 50%;
    background-blend-mode: overlay;
    filter: blur(64px);
}

.main-rightBlob{
    top: 12rem;
    left: calc(98vw - 55rem);
    position: absolute;
    height: 30rem;
    width: 30rem;
    opacity: 0.5;
    background-color: rgb(59 130 246 /1);
    border-radius: 50%;
    background-blend-mode: overlay;
    filter: blur(64px);
}


.main-right-img{
    position: relative;
    scale: 0.75;
    filter: opacity(0.75);
}
/* Main Section CSS End*/
/* Featured playlist Section CSS Starts*/
.featList{
    height: 93vh;
    padding-top: 2vh;
}

.fl-title{
    height: 8vh;
    font-size: 5vh;
    font-weight: bolder;
    width: 98vw;
    text-align: center;
    color: #30C2EC;
    margin-bottom: 2vh;
}

.fl-cards-cover{
    display: flex;
    width: 96vw;
    height: 82vh;
    padding-left: 1rem;
}

.fl-card{
    height: 70vh;
    width: calc(22.5vw - 5rem);
    display: flex;
    border-radius: 2rem;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    flex-direction: column;
    margin-right: 3rem;
    padding: 2rem;
    transition: .25s all ease-in-out;
}

.fl-card:hover{
    height: 75vh;
}

.fl-card-nos-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.fl-card-nos{
    background-color: #1e1e2c;
    font-size: medium;
    font-weight: bold;
    height: 100%;
    width: fit-content;
}

.fl-card-img-cover{
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fl-card-img{
    display: block;
    max-height: 40vh;
    max-width: 20vw;
    height: auto;
    width: auto;
}

.fl-card-name{
    padding-top: 1rem;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
    padding-bottom: 1.5rem;
}

.fl-card-fbtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fl-card-btn-on{
    margin-top: 2vh;
    background-color: #30C2EC;
    width: 5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    text-align: center;
    cursor: pointer;
}

.fl-card-btn-off{
    display: none;
    margin-top: 2vh;
    background-color: #30C2EC;
    width: 6rem;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    text-align: center;
    cursor: pointer;
}

.fl-card:has(input[type="checkbox"]:checked) .fl-card-btn-on{
    display: none;
}

.fl-card:has(input[type="checkbox"]:checked) .fl-card-btn-off{
    display: flex;
}

/* Featured Playlist section CSS ends */
/* Recommeded Albums section CSS starts */
.recc{
    height: 93vh;
    width: 98vw;
}

.recc-title{
    font-size: 5vh;
    height: 7vh;
    width: 98vw;
    text-align: center;
    font-weight: bolder;
    color: #30C2EC;
}

.recc-search-bar{
    height: 7vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recc-search-bar input[type=text]{
    height: 5vh;
    width: 50vw;
    border: solid black 1px;
    border-radius: 2vw 0vw 0vw 2vw;
    padding-left: 2vw;
    font-size: 2vh;
}

.recc-search-bar button{
    height: 5vh;
    width: 5vw;
    border: solid black 1px;
    border-radius: 0vw 2vw 2vw 0vw;
    background-color: #30C2EC;
    color: white;
    font-size: 2vh;
    cursor: pointer;
}

.recc-search-bar button:hover{
    background-color: #0096ff;
    transition: background-color 0.2s ease-in-out;
}

.recc-albums-sec{
    height: 75vh;
    width: 96vw;
    display: flex;
    flex-direction: row;
    flex-flow: column wrap;
    padding-top: 4vh;
    padding-left: 2vw;
    gap: 2vh;
}

.recc-album-card{
    height: 58.5vh;
    padding: 2rem;
    width: calc(24vw - 10rem);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
}

.recc-album-card:hover{
    height: 66vh;
}

.recc-album-card-img-cover{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: calc(24vw - 10rem);
}

.recc-album-card-img{
    display: block;
    max-width: calc(24vw - 14rem);
    max-height: 53vh;
    width: auto;
    height: auto;
}

.recc-album-card-title{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.recc-album-card-artist{
    width: 100%;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center;
}

.recc-album-card-btn-cover{
    margin-top: 5vh;
    display: none;
    width: calc(24vw - 10rem);
    justify-content: center;
    align-items: center;
}

.recc-album-card-btn{
    width: 10rem;
    height: 2.5rem;
    background-color: #30C2EC;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    color: white;
    text-align: center;
    cursor: pointer;
    transition-delay: 1s;
}

.recc-album-card:hover .recc-album-card-btn-cover{
    display: flex;
    transition-delay: 1s;
} 
/* Recommeded Albums section CSS ends */

@media screen and (max-width: 1360px){
    .navbar{
        background-color: #111827;
        height: 5vh;
    }
    .nav-items{
        display: none;
    }

    .logo-text{
        width: 40vw;
    }
    .logo{
        width: 100vw;
        height: 4vh;
    }

    .logo img{
        display: flex;
        width: auto;
        height: auto;
        max-width: 10vw;
        max-height: 4vh;
    }
    
    .ham{
        display: block;
        font-size: 40px;
        padding-right: 10vw;
    }

    .ham-img{
        text-decoration: none;
        display: block;
    }

    .ham-close{
        display: none;
        z-index: 3;
        position: fixed;
        top: 1vh;
        right: 10vw;
    }

    #ham-check{
        position: fixed;
        top: 2vw;
        right: 2vw;
        z-index: 2;
    }

    .navbar:has(.ham input[type="checkbox"]:checked) .ham .ham-close{
        display: block;
    }

    .navbar:has(.ham input[type="checkbox"]:checked) .ham .ham-img{
        display: none;
    }

    .navbar:has(.ham input[type="checkbox"]:checked) .nav-items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 15vh;
        border: #1A43bf 2px solid;
        background-color: #111827;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .contents-cover{
        overflow-x: hidden;
    }
}